@use './variables.scss';
@use './mixins.scss';
@import url('./nullStyle.scss');

.header {
  background-color: #e0e0e0;
  .header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 50px;
    .header__logo {
      display: flex;
      align-items: center;
      transition: 0.3s;
      color: #000;
      padding: 0 5px;
      cursor: pointer;
      .header-logo__img {
        width: 40px;
        margin-right: 5px;
      }
      .header-logo__text {
        // @include mixins.adaptiv-property('font-size', 20, 16, 'px');
        font-size: 20px;
      }
      &:hover {
        color: variables.$orange;
      }
    }
    .header__nav {
    }
    .header__burger-menu {
      width: 40px;
      height: 20px;
      margin: 0 5px;
      display: none;
      position: relative;
      cursor: pointer;
      transition: 0.3s;
      span {
        position: absolute;
        left: 0;
        background-color: variables.$orange;
        width: 100%;
        height: 3px;
        display: block;

        &:nth-child(1) {
          top: 0;
        }
        &:nth-child(2) {
          top: 50%;
          transform: translate(0, -50%);
        }
        &:nth-child(3) {
          bottom: 0;
        }
      }
      &:hover {
        box-shadow: 1px 1px 2px 1px #929292;
      }
      @media (max-width: variables.$burgerShowWidth) {
        display: block;
      }
    }
  }
}

.nav {
  position: relative;
  .nav__list {
    display: flex;
    padding: 0 10px;

    .nav__item {
      user-select: none;
      &:not(:last-child) {
        margin-right: 20px;
      }
      .nav__link {
        cursor: pointer;
        transition: 0.3s;
        user-select: none;
        color: #000;
        // @include mixins.adaptiv-property('font-size', 18, 14, 'px');
        font-size: 18px;
        &.active {
          color: variables.$orange;
          opacity: 0.55;
        }
        &:hover {
          color: variables.$orange;
        }
      }
    }
  }
  @media (max-width: variables.$burgerShowWidth) {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 10;
    pointer-events: none;
    transform: translate(100%, 0);
    @include mixins.greenWithACanal('background-color', 0.9);
    transition: 0.3s;
    padding: 10px;
    max-width: 170px;
    .nav__list {
      flex-direction: column;
      height: 100vh;
      transition: 0.3s;
      align-items: center;
      padding-top: 20px;

      .nav__item {
        text-align: center;
        &:not(:last-child) {
          margin-right: 0px;
          margin-bottom: 10px;
        }
      }
    }
    .nav__cross {
      display: block;
    }
    &.active {
      transform: translate(0, 0);
      pointer-events: all;
    }
  }
}

.signInBlock {
  // width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 500px;
  margin: 20px;
}

.signInBlock__container {
  max-width: 500px;
  width: 100%;
  background-color: #f0eeee;
  border: 2px solid variables.$blue;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 4px 4px 5px 0px variables.$green;

  .signInBlock__title {
    @include mixins.adaptiv-property('font-size', 25, 22, 'px');
    font-weight: 700;
    text-align: center;
    margin-bottom: 0.5em;
  }
  .signInBlock__notFoundUser {
    @include mixins.adaptiv-property('font-size', 20, 18, 'px');
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 0.5em;
    color: red;
  }
  .signInBlock__content {
    margin-bottom: 1em;
    .signInBlock-content__title {
      @include mixins.adaptiv-property('font-size', 20, 18, 'px');
      font-weight: 600;
      display: flex;
      flex-wrap: wrap;
      margin-right: 1em;
    }
    .error {
      color: red;

      @include mixins.adaptiv-property('font-size', 18, 14, 'px');
      white-space: nowrap;
      visibility: hidden;
      overflow: auto;
      min-height: 18px;

      &.active {
        visibility: visible;
      }
    }

    textarea {
      display: inline-flex;
      border: 2px solid variables.$blue;
      border-radius: 10px;
      padding: 5px;
      height: 100px;
      width: 100%;
      font-weight: inherit;
      font-size: inherit;
      resize: none;
      background-color: inherit;
    }

    .signInBlock-content__input {
      display: inline-flex;
      border: 2px solid variables.$blue;
      border-radius: 10px;
      align-items: center;
      padding: 5px;
      max-height: 35px;
      height: 100%;
      max-width: 300px;
      width: 100%;
      input {
        background-color: inherit;

        font-size: 16px;
        // max-width: 350px;
        width: 100%;
        font-weight: 600;
        margin-right: 8px;
      }

      & .glass {
        content: '';
        background-image: url(https://cdn-icons-png.flaticon.com/128/2767/2767146.png);
        background-repeat: no-repeat;
        background-size: 20px 20px;
        cursor: pointer;
        width: 20px;
        height: 20px;
        display: block;
        padding: 3px;
        box-sizing: content-box;
        background-position: center;
      }
    }

    &:not(:last-child) {
      margin-bottom: 2em;
    }
  }
  .signInBlock__submit {
    background-color: variables.$orange;
    color: #fff;
    padding: 7px;
    border-radius: 10px;
    font-weight: 500;
    @include mixins.adaptiv-property('font-size', 20, 14, 'px');
    transition: 0.3s;
    display: inline-block;
    margin-right: 10px;
    transition: 0.3s;
    &:disabled {
      background-color: #868686;
      cursor: not-allowed;
    }
    &:hover {
      opacity: 0.9;
    }
    @media (max-width: 400px) {
      margin-right: 0;
      margin-bottom: 10px;
      display: flex;
      width: 100%;
      justify-content: center;
    }
  }
}

.mainCard {
  .mainCard__container {
    width: 300px;
    margin: 10px;
    border: 2px solid variables.$blue;
    padding: 4px;
    border-radius: 8px;
    box-shadow: 3px 3px 7px 0px variables.$orange;

    @media (max-width: 400px) {
      // max-width: 300px;
      // width: 100%;
      width: 260px;

      .mainCard__imageUrl {
        img {
          width: 100%;
        }
      }
    }
    @media (max-width: 310px) {
      max-width: 200px;
    }
    .mainCard__imageUrl {
      display: flex;
      justify-content: center;
      margin-bottom: 5px;
      height: 200px;
      width: 100%;
      background-color: #dbdbdb;
      border: 5px;
      height: 200px;
      border-radius: 5px;
      overflow: hidden;
      background: rgb(12, 0, 255);
      background: linear-gradient(30deg, rgba(12, 0, 255, 1) 0%, rgba(255, 0, 215, 1) 80%);
      img {
        // max-height: 200px;
        border-radius: 5px;
        object-fit: cover;
      }
    }
    .mainCard__title {
      @include mixins.adaptiv-property('font-size', 22, 18, 'px');
      margin: 0 auto;
      text-align: center;
      font-weight: 700;
      margin-bottom: 5px;
      min-height: 22px;
    }
    .mainCArd__subtitle {
      @include mixins.adaptiv-property('font-size', 16, 14, 'px');
      font-weight: 400;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode',
        Geneva, Verdana, sans-serif;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 8;
      -webkit-box-orient: vertical;
      margin-bottom: 5px;
    }
    .mainCard__readMore {
      color: #fff;
      display: flex;
      background-color: variables.$orange;
      justify-content: center;
      padding: 6px;
      font-size: 18px;
      padding: 7px 0;
      border-radius: 10px;
      cursor: pointer;
      transition: 0.3s;

      &:hover {
        background-color: #fe583a;
      }
      &:disabled {
        background-color: #9b9b9b;
      }
    }
    & > button {
      width: 100%;
    }
  }
}

.createArticleForm {
  .createArticleForm__container {
    display: grid;
    padding: 20px;
    grid-template-areas:
      'one two'
      'one two';
    .articleForm {
      grid-area: one;
    }
    .showTheArticle {
      grid-area: two;
      display: flex;
      align-items: center;
    }
    @media (max-width: 747px) {
      grid-template-areas:
        'one one'
        'two two';

      .articleForm {
        margin: 0 auto;
      }
      .showTheArticle {
        justify-content: center;
      }
    }
  }
}

.error-title {
  margin: 0 auto;
  @include mixins.adaptiv-property('font-size', 30, 18, 'px');
  text-align: center;
  position: relative;

  &::after {
    content: '';
    background-image: url('https://cdn-icons-png.flaticon.com/128/282/282733.png');
    width: 80px;
    height: 80px;
    display: block;
    position: absolute;
    background-size: 80px 80px;
    top: calc(100% + 30px);
    left: 50%;
    transform: translate(-50%, 0);
    background-repeat: no-repeat;
  }
}

.mainPage {
  .mainPage__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.waitModal {
  width: 100vw;
  height: 100vh;
  background-color: rgba(172, 172, 172, 0.45);
  position: fixed;
  top: 0;
  opacity: 0;
  left: 0;
  transition: 0.3s;
  display: flex;
  pointer-events: none;
  justify-content: center;
  align-items: center;
  justify-content: center;
  transition: 0.15s;
  z-index: 1000;

  &.active {
    opacity: 1;
    pointer-events: all;
  }
  .waitModal__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .waitModal__title {
      @include mixins.adaptiv-property('font-size', 30, 16, 'px');
      margin-bottom: 10px;
      background-color: #93fa70;
      padding: 4px;
    }
    .waitModal__circle {
      border: 14px solid rgba(137, 137, 137, 0.7);
      width: 120px;
      height: 120px;
      border-radius: 50%;
      border-top: 14px solid #3498db;
      animation-name: rotating;
      animation-iteration-count: infinite;
      animation-duration: 3.5s;

      @keyframes rotating {
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(720deg);
        }
      }
    }
  }
}

.adminPanel {
  position: relative;
  .adminPanel__title {
    cursor: pointer;
    transition: 0.2s;

    &:hover {
      color: variables.$orange;
    }
  }
  .adminPanel__container {
    // width: 150px;
    // height: 100px;
    position: absolute;
    top: 100%;
    right: 50%;
    transform: translate(50%, 0);
    border-radius: 15px;
    overflow: hidden;
    pointer-events: none;
    z-index: 50;
    &.active {
      pointer-events: all;
      .adminPanel__list {
        transform: translate(0, 0);
      }
    }
    .adminPanel__list {
      width: 100%;

      display: flex;
      background-color: variables.$green;
      padding: 10px;
      flex-direction: column;
      transform: translate(0, -100%);
      transition: 0.4s;
      .adminPanel__item {
        white-space: nowrap;
        cursor: pointer;
        color: inherit;
        font-size: 18px;
        transition: 0.3s;

        &:hover {
          color: variables.$orange;
        }
        &:not(:last-child) {
          margin-bottom: 10px;
        }
        &.disabled {
          opacity: 0.3;

          &:hover {
            color: #000;
          }
        }
      }
    }
    @media (max-width: variables.$burgerShowWidth) {
      right: 0;
      transform: translate(0, 0);

      .adminPanel__list {
        background-color: variables.$orange;
        color: #fff;

        .adminPanel__item {
          &:hover {
            color: variables.$green;
          }
        }
      }
    }
  }
}

.profileBlock {
  .profileBlock__container {
    @include mixins.adaptiv-property('margin-top', 30, 18, 'px');
    padding-bottom: 20px;
    .profileBlock__title {
      @include mixins.adaptiv-property('font-size', 25, 21, 'px');
    }
    .profileBlock__list {
      .profileBlock__item {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin: 10px 0;
        .profileBlock-item__title {
          @include mixins.adaptiv-property('font-size', 20, 17, 'px');
        }
        .span {
          white-space: nowrap;
          display: inline-block;
          padding: 3px 5px;
          opacity: 0.5;
          border: 1px solid;
          border-radius: 8px;
          margin: 3px;
          font-size: 14px;
          transition: 0.2s;
          cursor: pointer;

          &:hover {
            background-color: #cbcbcb;
          }

          &.active {
            background-color: variables.$orange;
            opacity: 1;
            font-size: 16px;
            &:hover {
              color: #4e4e4e;
            }
          }
        }
        @media (max-width: 530px) {
          display: block;

          .span {
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }
        &.disNone {
          display: none;
        }
      }
    }
  }
}

.link {
  color: blue;
  border-bottom: 1.5px dashed blue;
  display: inline-block;
  line-height: 0.8;
  cursor: pointer;
  transition: 0.2s;

  &:hover {
    color: red;
    border-bottom: 1.5px dashed red;
  }
}
